<%= form_for @phoneupload, html: { multipart: true } do |f| %>
  <% if @phoneupload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phoneupload.errors.count, "error") %> prohibited this phoneupload from being saved:</h2>

      <ul>
      <% @phoneupload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sha_1_hash %><br />
    <%= f.text_field :sha1hash %>
  </div>
  <div class="field">
    <%= f.label :File_to_upload %><br />
    <%= f.file_field :uploadfile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
