<h1>Listing phoneuploads</h1>

<table>
  <tr>
    <th>SHA-1 hash</th>
	<th></th>
    <th>Uploadfile</th>
    <th></th>
    <th></th>
  </tr>

<% @phoneuploads.each do |phoneupload| %>
  <tr>
    <td><%= phoneupload.sha1hash %></td>
	<th></th>
    <td><%= phoneupload.uploadfile %></td>
    <td><%= link_to 'Show', phoneupload %></td>
    <td><%= link_to 'Destroy', phoneupload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phoneupload', new_phoneupload_path %>
