<p id="notice"><%= notice %></p>

<p>
  <b>SHA-1 hash:</b>
  <%= @phoneupload.sha1hash %>
</p>

<p>
  <b>Uploadfile:</b>
  <%= @phoneupload.uploadfile %>
</p>


<%= link_to 'Back', phoneuploads_path %>
