
<h3>Admin Options</h3>
<ul>
	<li><%= link_to "Manage Admins", admins_path %> </li>
	<li><%= link_to "View Users", users_path %> </li>
	<li><%= link_to "View Sessions and Activity Log", sessions_path %> </li>
	<li><%= link_to "View Downloads", downloads_path %> </li>
	<li><%= link_to "View Phoneuploads", phoneuploads_path %> </li>
	<li><%= link_to "View Payloads", payloads_path %> </li>
</ul>

