
<div class="textwidget">
	<h3>About DukeApps</h3>
	<p>Authorized users can install Duke-specific mobile applications from this site</p>
</div>
<% if session[:parkduke_people] %>
   <p><div class="widget_text">
   	  <%= link_to home_log_the_parkduke_app_install_path do %>
   	     <%= image_tag("/app_install/small_image_parkduke", :size => "58x58", :alt => "ParkDuke") %>
   	     &nbsp; install ParkDuke
   	  <% end %>
     </div>
   </p>
<% end %>
<% if session[:reengage_people] %>
     <p><div class="widget_text">
   	    <%= link_to home_log_the_reengage_app_install_path do %>
   	      <%= image_tag("/app_install/small_image_reengage", :size => "58x58", :alt => "SymMon") %>
   	      &nbsp; install SymMon
   	    <% end %>
      </div>
   </p>
<% end %>
<% if session[:wearduke_people] %>
     <p><div class="widget_text">
   	    <%= link_to home_log_the_wearduke_app_install_path do %>
   	      <%= image_tag("/app_install/small_image_wearduke", :size => "58x58", :alt => "WearDuke") %>
   	      &nbsp; install WearDuke
   	    <% end %>
      </div>
   </p>
<% end %>
<% if session[:wearduketest_people] %>
     <p><div class="widget_text">
   	    <%= link_to home_log_the_wearduketest_app_install_path do %>
   	      <%= image_tag("/app_install/small_image_wearduketest", :size => "58x58", :alt => "WearDukeTest") %>
   	      &nbsp; install WearDukeTest
   	    <% end %>
      </div>
   </p>
<% end %>
<% if session[:s2k_people] %>
     <p><div class="widget_text">
   	    <%= link_to home_log_the_s2k_app_install_path do %>
   	      <%= image_tag("/app_install/small_image_s2k", :size => "58x58", :alt => "s2k") %>
   	      &nbsp; install s2k
   	    <% end %>
      </div>
   </p>
<% end %>

<p><div class="widget_text">
	<%= link_to home_log_the_dukedoor_app_install_path do %>
	  <%= image_tag("/app_install/small_image_dukedoor", :size => "58x58", :alt => "Duke Door") %>
	  &nbsp; install Duke Door
	<% end %>
  </div>
</p>
</div>
